
body {
    background-color:#E9ECEF ;
}
#menulink a {
    color: white;
    text-decoration: none;
}
#menulink a:hover {
    color: grey;
    text-decoration: none;
}
main{
    text-align: center;
}
ul{
    list-style-position: inside;
}
.text h1{
    text-align: center;
     color: purple
}
.bt{
   float: left;
   background-color: #808080;
   font-size: 18px;
   border-radius: 4px;
   text-align: center;
}